﻿@{
    Layout = null;
}
@using SimpleBlog.Models
@{
    Blog_Db_Entities entities = new Blog_Db_Entities();
    var categoryList = entities.BlogPostCategories.ToList();
    var tagList = entities.BlogPostTags.ToList();
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Simple Blog In Asp.Net MVC</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="/Content/Public/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/Public/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/Public/assets/css/animate.min.css" rel="stylesheet" />
    <link href="/Content/Public/assets/css/style.min.css" rel="stylesheet" />
    <link href="/Content/Public/assets/css/style-responsive.min.css" rel="stylesheet" />
    <link href="/Content/Public/assets/css/theme/default.css" id="theme" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="/Content/Public/assets/plugins/pace/pace.min.js"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<body>
    <!-- begin #header -->
    <div id="header" class="header navbar navbar-transparent navbar-fixed-top">
        <!-- begin container -->
        <div class="container">
            <!-- begin navbar-header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">
                    <span class="brand-logo"></span>
                    <span class="brand-text">
                        Simple Blog
                    </span>
                </a>
            </div>
            <!-- end navbar-header -->
            <!-- begin navbar-collapse -->
            <div class="collapse navbar-collapse" id="header-navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@Url.Action("Index","Home")">HOME</a>
                    </li>         
                    <li><a href="#">ABOUT ME</a></li>
                    <li><a href="#">CONTACT US</a></li>
                    <li><a href="@Url.Action("Register","Accounts")">REGISTER</a></li>
                    <li><a href="@Url.Action("Login","Accounts")">LOGIN</a></li>

                </ul>
            </div>
            <!-- end navbar-collapse -->
        </div>
        <!-- end container -->
    </div>
    <!-- end #header -->
    <!-- begin #page-title -->
    <div id="page-title" class="page-title has-bg">
        <div class="bg-cover"><img src="/Content/Public/assets/img/cover2.jpg" alt="" /></div>
        <div class="container">
            <h1>Official Color Admin Blog</h1>
            <p>Blog Concept Front End Page</p>
        </div>
    </div>
    <!-- end #page-title -->
    <!-- begin #content -->
    <div id="content" class="content">
        <!-- begin container -->
        <div class="container">
            <!-- begin row -->
            @RenderBody()
            
            @Html.Partial("_blog_asidebar_partial")
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end #content -->
    <!-- begin #footer -->
    <div id="footer" class="footer">
        <!-- begin container -->
        <div class="container">
            <!-- begin row -->
            <div class="row">
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-3">
                    <!-- begin section-container -->
                    <div class="section-container">
                        <h4 class="footer-title">Categories</h4>
                        <ul class="categories">
                            @foreach (var category in categoryList)
                            {
                                <li><a href="@Url.Action("Index","Home",new { filterBy ="category", filterTypeId = category.Id})">@category.CategoryName </a> </li>
                            }
                        </ul>
                    </div>
                    <!-- end section-container -->
                </div>
                <!-- end col-3 -->
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-3">
                    <!-- begin section-container -->
                    <div class="section-container">
                        <h4 class="footer-title">Archives</h4>
                        <ul class="archives">
                            @{
                            int countableMonth = 6;
                            var archiveStartDate = DateTime.Today;
                            while (countableMonth != 0)
                            {
                            <li><a href="@Url.Action("Index","Home",new { filterBy ="archives", year = @archiveStartDate.Year, month = @archiveStartDate.Month })">@archiveStartDate.Date.ToString("MMMM yy")</a></li>
                            countableMonth--;
                            archiveStartDate = archiveStartDate.AddMonths(-1);
                            }

                            }
                           
                        </ul>
                    </div>
                    <!-- end section-container -->
                </div>
                <!-- end col-3 -->
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-3">
                    <!-- begin section-container -->
                    <div class="section-container">
                        <h4 class="footer-title">Recent Posts</h4>
                        <ul class="recent-post">
                            <li>
                                <h4>
                                    <a href="#">Nam ut urna hendrerit</a>
                                    <span class="time">February 22, 2015</span>
                                </h4>
                            </li>
                            <li>
                                <h4>
                                    <a href="#">Class aptent taciti sociosqu</a>
                                    <span class="time">July 15, 2015</span>
                                </h4>
                            </li>
                            <li>
                                <h4>
                                    <a href="#">Donec rhoncus arcu</a>
                                    <span class="time">March 21, 2015</span>
                                </h4>
                            </li>
                        </ul>
                    </div>
                    <!-- end section-container -->
                </div>
                <!-- end col-3 -->
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-3">
                    <div class="section-container">
                        <h4 class="footer-title">About Color Admin</h4>
                        <address>
                            <strong>Twitter, Inc.</strong><br />
                            795 Folsom Ave, Suite 600<br />
                            San Francisco, CA 94107<br />
                            P: (123) 456-7890<br />
                            <br />
                            <strong>Full Name</strong><br />
                            <a href="#">first.last@example.com</a>
                        </address>
                    </div>
                    <!-- end section-container -->
                </div>
                <!-- end col-3 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end #footer -->
    <!-- begin #footer-copyright -->
    <div id="footer-copyright" class="footer-copyright">
        <!-- begin container -->
        <div class="container">
            <span class="copyright">&copy; 2015 SeanTheme All Right Reserved</span>
            <ul class="social-media-list">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
            </ul>
        </div>
        <!-- end container -->
    </div>
    <!-- end #footer-copyright -->
    <!-- begin theme-panel -->
    
    <!-- end theme-panel -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="/Content/Public/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
    <script src="/Content/Public/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
    <script src="/Content/Public/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <script src="/Content/Public/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
    <script src="/Content/Public/assets/js/apps.min.js"></script>
    <!-- ================== END BASE JS ================== -->
    @RenderSection("Scripts", false)
    <script>
        $(document).ready(function () {
            App.init();
        });
    </script>
</body>
</html>
